.container {
  display: flex;
  align-items: center;
}

.label {
  display: flex;
  align-items: center;

  &.disabled {
    cursor: initial;
    color: var(--color-dark-100);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  background-color: var(--color-dark-400);
  border: 2px solid var(--color-light-900);
  border-radius: 2px;

  &:disabled {
    cursor: initial;
    border-color: var(--color-dark-100);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-checkbox-disabled);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  &.disabled {
    cursor: initial;
  }

  &.left {
    margin-left: -9px;
  }
}

.indicator {
  width: 40px;
  height: 18px;
}
