.signBlock {
  width: 100%;
  max-width: 413px;
  padding: 33px 36px 29px;

  .title {
    margin-bottom: 1.69rem;
    text-align: center;
  }

  .email {
    margin-bottom: 25px;
  }

  .submit {
    padding: 0.375rem 0;
  }

  .question {
    margin-top: 1.25rem;
    margin-bottom: 0.69rem;
    color: var(--color-light-900);
    text-align: center;
  }

  .signIn {
    padding: 0;
    text-decoration: underline;

    & p {
      color: var(--color-accent-500);
    }
  }
}
